@font-face {
   font-family: 'OpenSans-Regular';
   src: url(fonts/OpenSans-Regular.woff);
   font-weight: 400;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'OpenSans-Bold';
   src: url(fonts/OpenSans-Bold.woff);
   font-weight: 700;
   font-style: normal;
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 .header {
   background-image: url(images/banner-bg.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: #000000;
   position: relative;
   z-index: 0;
   padding: 28px 0 128px 0;
 }
 
 .header:after {
   content:"";
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   opacity: 0.6;
   background-color: #000000;
   z-index: -1;
 }

 .container {
   width: 100%;
   max-width: 1200px;
   padding: 0 15px 0 15px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
 }
 
 .header-logo {
   width: 180px;
 }
 
 .header-title {
   width: 100%;
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
   font-size: 45px;
   margin-top: 100px;
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   line-height: 75px;
 }
 
 .menu-list {
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
 }
 
 .menu-link {
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 13px;
 }
 
 .menu-link:hover {
   color: #fff;
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 13px;
 }
 
 .menu-list-item:nth-child(n + 2) {
   margin-left: 35px;
 }

 .trends-title {
   text-align: center;
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   color: #000;
   font-size: 20px;
   text-transform: uppercase;
   margin-top: 58px;
 } 

 .trends-title::after  {
   content: "";
   background-color: #e1d9bd;
   width: 66px;
   height: 3px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 11px;
   margin-bottom: 25px;
 }

.trends {
   max-width: 1660px;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}

.trend-list {
   width: calc(100% / 4 - 4px);
   height: 34vh;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: #000000;
   position: relative;
   z-index: 0;
   padding: 1em 1.25em;
   display: flex;
   align-items: flex-end;
}

.trend-list:after {
   content:"";
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   opacity: 0.6;
   background-color: #000000;
   z-index: -1; 
}

.trend-list:nth-child(n+2) {
   margin-left: 4px;
}

.trend1 {
   background-image: url(images/trend1.jpg);
}

.trend2 {
   background-image: url(images/trend2.jpg);
}

.trend3 {
   background-image: url(images/trend3.jpg);
}

.trend4 {
   background-image: url(images/trend4.jpg);
}

.trend-info {
   border: 3px solid rgb(181, 159, 91, .6);
   padding: 2em;
}

.trend-name {
   text-align: left;
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   font-size: 20px;
   line-height: 24px;
   text-transform: uppercase; 
   margin-top: 10px;
}

.trend-name a {
   color: rgb(255, 255, 255); 
   text-decoration: none;
}

 .content {
   display: flex;
   flex: 1 0 0;
   max-width: 1200px;
   justify-content: space-between;
   margin-right: auto;
   margin-left: auto;
   padding: 63px 15px 0px 15px;
 }
 
 .post-list {
   display: flex;
   width: 86%;
 }
 
 .post-list:nth-child(n+2) {
   margin-top: 58px;
 }

 .post-picture {
   min-width: 380px;
 }
 
 .post-info {
   margin-left: 30px;
 }
 
 .tags {
  list-style: none;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
 }
 
 .tag:nth-child(n+2) {
   margin-left: 18px;
 }
 
 .tag-link {
   color: #b59f5b;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 14px;
 }
 
 .tag-link:hover {
   color: #b59f5b;
   text-transform: uppercase;
   text-decoration: underline;
   font-size: 14px;
 }
 
 .post-name {
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   line-height: 24px;
   font-size: 20px;
   text-transform: uppercase;
   margin-top: 5px;
   color: #000;
 }
 .post-name a {
   text-decoration: none;
   color: #000;
 }
 
 .post-header {
   margin-top: 25px;
 }
 
 .post-date {
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 12px;
   color: #888;
 }
 
 .post-author {
   margin-left: 10px;
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   font-size: 12px;
   color: #000;
 }
 
 .post-description {
   margin-top: 43px;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 15px;
   line-height: 22px;
   color: #000;
 }
 
 .sidebar {
   min-width: 272px;
   max-width: 272px;
 }
 
 .sidebar-title {
   text-align: center;
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   color: #000;
   font-size: 14px;
   text-transform: uppercase;
 }
 
 .sidebar-title::after  {
   content: "";
   background-color: #e1d9bd;
   width: 66px;
   height: 3px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 11px;
   margin-bottom: 25px;
 }
 
 .latest-post-list {
   display: flex;
 }
 
 .latest-post-list:nth-child(n+2) {
   margin-top: 20px;
 }
 
 .latest-post-picture-img {
   width: 70px;
   height: 70px;
 }
 
 .latest-post-info {
   margin-left: 20px;
 }
 
 .latest-post-name {
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   text-decoration: none;
   line-height: 18px;
   margin-top: 2px;
 }
 
 .latest-post-name a {
   text-decoration: none;
   color: #000;
 }
 
 .search {
   display: flex;
   margin-top: 60px;
   position: relative;
 }

 .field-search {
   width: 100%;
 }
 
 .field {
 display: block;
 width: 100%;
 height: 48px;
 padding-left: 20px;
 padding-right: 20px;
 border: none;
 background-color: #f4f7f6;
 font-family: 'OpenSans-Regular', Arial, sans-serif;
 font-size: 13px;
 }
 
 .field:focus {
   outline: 2px solid #b59f5b;
 }
 
.button {
  height: 48px;
  background-color: #b59f5b;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #000000;
}

 .button-search {
   position: absolute;
   right: 0;
   width: 48px;
   background-image: url(svg/search.svg);
   background-size: 18px;
   background-repeat: no-repeat;
   background-position: center center;
 }
 
 .subscribe {
   margin-top: 60px;
 }
 
 .button-subscribe {
   margin-top: 16px;
   width: 100%;
 }
 
 .sidebar-tags {
   margin-top: 60px;
 }
 
 .sidebar-tags-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;
 }
 
 .sidebar-tag-link:hover {
   border: 3px solid #b59f5b;
 }
 
 .sidebar-tag-link {
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   font-size: 12px;
   color: #000;
   text-transform: uppercase;
   text-decoration: none;
   padding: 5px 12px;
   border: 3px solid #eee;
   display: inline-block;
 }
 
 .sidebar-tag:nth-child(3n+2) {
   margin-left: 5px;
   margin-right: 5px;  
 }
 
 .sidebar-tag:nth-child(n+4) {
   margin-top: 5px;
 }
 
 .sidebar-categories {
   margin-top: 60px;
 }
 
 .sidebar-categories-list {
   list-style: none;
 }
 
 .sidebar-category-link {
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   font-size: 14px;
   color: #000;
   text-decoration: none;
 }
 
 .sidebar-category-link:hover {
   color: #b59f5b;
 }
 
 .categories-count {
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   font-size: 12px;
   color: #b59f5b;
   vertical-align: top;
 }
 
 .sidebar-category::after  {
   content: "";
   background-color: #eee;
   width: auto;
   height: 1px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 13px;
   margin-bottom: 13px;
 }
 
 .products {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0 40px 66px 40px;
}

.product {
  width: calc(100% / 3 - 75px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.product:nth-child(n + 2) {
  margin-left: 10%;
}

.product-img {
  width: 100%;
}

.product-content {
  outline: 3px solid rgb(181, 159, 91, .6);
  outline-offset: 23px;
  padding-top: 20px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-title {
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}

.product-description {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #000;
}

p a {
  color: #b59f5b;
  text-decoration: none;
}

.product-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 22px;
}

.product-price {
  display: flex;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
}

.product-price-old {
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
}

.button-product {
  width: 140px;
}

 .footer-social {
   max-width: 1170px;
   padding: 30px 15px 30px 15px;
   margin-right: auto;
   margin-left: auto;
   background-color: #f4f7f6;
 }
 
 .socials {
   display: flex;
   width: 210px;
   margin-right: auto;
   margin-left: auto;
   list-style: none;
 }
 
 .social-icon {
   display: block;
   width: 20px;
   height: 20px;
   background-size: 20px;
 }
 
 .social-item:nth-child(n+2) {
   margin-left: 28px;
 }
 
 .social-icon-twitter {
   background-image: url(svg/004-twitter.svg);
 }
 
 .social-icon-pinterest {
   background-image: url(svg/001-pinterest.svg);
 }
 
 .social-icon-facebook {
   background-image: url(svg/002-facebook-logo.svg);
 }
 
 .social-icon-instagram {
   background-image: url(svg/005-instagram.svg);
 }
 
 .social-icon-tumblr {
   background-image: url(svg/003-tumblr.svg);
 }
 
 .socials-link-text {
   position: absolute;
   width: 1px;
   height: 1px;
   clip: rect(1px, 1px, 1px, 1px);
 }
 
 .footer-copyright {
   display: block;
   text-align: center;
   color: #999;
   font-size: 12px;
   margin-top: 80px;
   margin-bottom: 40px;
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   
 }

 ._hidden {
   display: none;
 }

 .popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
 }

 .popup-container {
  max-width: 390px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 54px 30px 54px 30px;
 }

.label {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 13px;
}

.select {
  min-width: 100%;
  margin-top: 10px;
  color:#888;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
}

.feedback-title {
  text-align: center;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}

.feedback-title::after  {
  content: "";
  background-color: #e1d9bd;
  width: 66px;
  height: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
  margin-bottom: 25px;
}

.radio-group-form {
  margin-top: 28px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-label {
  margin-bottom: 10px;
}

.radio-group-text {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 13px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url(svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 15px;
  }

.radio:checked ~ .radio-group-text::before {
  background-image: url(svg/form-circle.svg);
}

.textarea-group {
  margin-top: 20px;
}

.field-textarea {
  width: 100%;
  height: 130px;
  max-width: 330px;
  min-width: 130px;
  padding: 20px;
  border: none;
  background-color: #f4f7f6;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 13px;
  margin-top: 10px;
}

.field-textarea:focus {
  outline: 2px solid #b59f5b;
}

.button-popup {
  margin-top: 25px;
  width: 100%;
}

.popup_close {
  width: 18px;
  height: 18px;
  font-size: 20px;
  position: absolute;
  top: -1.5em;
  right: 0;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  background-image: url(svg/form-x.svg);
  background-color: transparent;
  background-repeat: no-repeat;
}

@media (min-width: 1201px) {
.menu_button {
  display: none;
}
}

@media (max-width: 1200px) {
.menu-list {
    display: none;
}

.container {
  justify-content: flex-start;
}
}

.menu_button {
  width: 22px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  left: 46%;
}

.menu_button-label {
  width: 100%;
  height: 15%;
  margin-top: -1px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

.menu_button:before, .menu_button:after {
  content: "";
  width: 100%;
  height: 15%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu_button:before {
 top: 0;
}

.menu_button:after {
  bottom: 0;
 }

 @media (min-width: 641px) and (max-width: 1200px) {
   .header-logo {
     width: 157px;
   }

   .menu_button {
    left: 95%;
  }

   .header-title {
     font-size: 40px;
     line-height: 55px;
   }

   .header {
    background-image: url(images/banner-bg-tablet.jpg);
   }

   .trend-list {
     width: calc(100% / 2 - 2px);
     height: 34vh;
     padding: 1em 1.25em;
   }

   .trend-list:nth-child(even) {
    margin-left: 4px;
   }

   .trend-list:nth-child(n+3) {
    margin-top: 4px;
   }

   .trend-list:nth-child(3) {
    margin-left: 0px;
   }

   .trend-name {
     font-size: 17px;
     line-height: 22px;
   }

   .content {
     padding: 50px 35px 0;
   }

   .post-list {
     flex-wrap: wrap;
     width: 100%;
   }

   .post-list:nth-child(n+2) {
    margin-top: 40px;
   }

   .post-list::after {
    content: "";
    background-color: #eee;
    width: 100%;
    height: 3px;
    margin-top: 15px;
   }

   .post-picture {
     width: 100%;
   }

   .picture-img {
     width: 100%;
   }

   .post-info {
     margin-left: 0;
     margin-top: 10px;
   }

   .post-description {
     margin-top: 36px;
   }

   .sidebar {
     margin-left: 4%;
   }

   .products {
     padding: 0 57px 80px 57px;
   }

   .product {
     width: calc(100% / 2 - 34px);
   }

   .product:nth-child(n + 2) {
    margin-left: 68px;
   }

   .product:nth-child(n + 3) {
    margin-top: 58px;
    margin-left: 0;
   }

   .product-img-box {
     width: 100%;
   }

   .popup_close {
    width: 28px;
    height: 28px;
    top: -2em;
   }
 }

 @media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .trend-list {
    width: calc(100% / 4 - 3px);
    height: 34vh;
 }

 .trend-list:nth-child(n+3) {
  margin-top: 0;
  margin-left: 4px;
 }

 .trend-info {
   padding: 1em;
 }
}

 @media (max-width: 641px) {
   .container {
    flex-direction: column;
   }

   .header-logo {
     width: 270px;
     margin-top: 50%;
   }

   .header-title {
     font-size: 26px;
     line-height: 36px;
     margin-top: 40px;
   }

   .header {
    background-image: url(images/banner-mobile.jpg);
    padding: 28px 0 215px 0;
   }

   .trend-list {
     width: 100%;
     padding: 1em;
   }

   .trend-list:nth-child(n+2) {
     margin-top: 2px;
     margin-left: 0;
   }

   .trend-info {
     padding: 2em 1.25em;
     width: 100%;
   }

   .trend-name {
     font-size: 16px;
     line-height: 20px;
   }

   .content {
     flex-direction: column;
     padding: 45px 15px 0px 15px;
   }

   .post-list {
    flex-wrap: wrap;
    width: 100%;
  }

  .post-list:nth-child(n+2) {
   margin-top: 35px;
  }

  .post-list::after {
   content: "";
   background-color: #eee;
   width: 100%;
   height: 3px;
   margin-top: 15px;
  }

  .post-picture {
    min-width: 100%;
  }

  .picture-img {
    width: 100%;
  }

  .post-info {
    margin-left: 0;
    margin-top: 10px;
  }

  .post-name {
    font-size: 16px;
    line-height: 20px;
  }

  .post-header {
    margin-top: 22px;
  }

  .post-description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .sidebar {
    max-width: 100%;
    margin-top: 45px;
  }

  .subscribe {
    margin-top: 45px;
  }

  .sidebar-tags {
    margin-top: 45px;
  }

  .sidebar-tag:nth-child(3n+4) {
    margin-left: 5px;
  }

  .sidebar-tag:nth-child(5) {
    margin-left: 0;
  }

  .sidebar-tag:nth-child(4) {
    margin-top: 0;
  }

  .sidebar-tag:nth-child(n+5) {
    margin-top: 5px;
  }

  .sidebar-categories {
    margin-top: 45px;
  }

  .trends-title {
    margin-top: 35px;
  }

  .products {
    flex-direction: column;
  }

  .product {
    width: 100%;
    flex-wrap: nowrap;
  }

  .product:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 19%;
  }

  .product-title {
    font-size: 17px;
  }

  .footer-social {
    max-width: 92%;
  }

  .popup-container {
    max-width: 330px;
    padding: 25px 22px 25px 22px;
   }

  .popup_close {
    width: 26px;
    height: 26px;
    top: -1.7em;
   }
 }

 @media (max-width: 641px) and (orientation: landscape) {
  .trend-list {
    width: calc(100% / 2 - 1px);
    height: 70vh;
  }

  .trend-list:nth-child(even) {
    margin-left: 2px;
  }

  .trend-list:nth-child(n+3) {
    margin-top: 2px;
  }

  .trend-list:nth-child(2) {
    margin-top: 0;
  }
 }